:root {
    --lightcolor: #054978;
    --darkcolor: #69749b;
    --darkcolor2: #3a3a47;
    --headerColors: #a5a5a5;
  }
  
  body {
    background-color: var(--darkcolor2);
    font-family: Arial;
    margin: 0;
    overflow-x: hidden;
  }
  
  .profilePhoto {
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
    max-width: 300px;
    border-radius: 50%;
    border: 10px solid var(--darkcolor);
    background-color: white;
  }
  
  h2 {
    font-size: 4vh;
    text-align: center;
    color: var(--headerColors);
    user-select: none;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
  
  li {
    text-justify: auto;
    color: white;
    user-select: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  p {
    text-align: center;
    color: white;
  }
  
  hr {
    border-width: 0px;
    visibility: hidden;
  }
  
  li {
    text-align: left;
  }
  
  #featuredProject {
    justify-content: space-around;
  }
  
  #otherProjects {
    justify-content: center;
  }
  
  .card {
    max-width: 25rem;
    transition: all 0.4s ease-in-out;
    background-color: var(--lightcolor);
    border-style: solid;
    border-width: 1px;
    margin: 1rem;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .featuredCard {
    max-width: 40rem;
  }
  
  .card-header, .card-title {
    color: var(--headerColors);
  }
  
  p>a {
    color: var(--headerColors);
  }
  
  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .externalLinks::before {
    content: "";
    width: 48px;
    height: 48px;
    float: left;
    margin: 0 6px 0 0;
    transform: translate(0, -30%);
  }
  
  .btnDiv {
    display: flex;
    justify-content: space-between;
  }
  
  #github::before {
    background: url(../icons/githubicon.png);
  }
  
  #resume::before {
    
    background: url(../icons/resumeIcon.png);
  }
  
  #linkedIn::before {
    background: url(../icons/linkedinicon.png);
  }
  
  .card:hover {
    box-shadow: 0 0 10px 10px var(--headerColors);
  }
  
  .card:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px var(--headerColors);
    filter: blur(3px);
  }

  footer {
    background-color: var(--headerColors);
  }